<!-- profile/templates/profile/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Himavarshini's Personal Website</title>
    <link rel="stylesheet" href="{% static 'App_42_3/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Himavarshini's Personal Website</h1>
            <p class="profession">Student | BTech</p>
        </div>
    </header>

    <section class="about-me">
        <h2>About Me</h2>
        <p>Hello! I'm Himavarshini Ramachandruni, a student passionate about technology and innovation. Welcome to my personal website where I share my projects, blog posts, and more about my journey.</p>
    </section>

    <section class="achievements">
        <h2>Achievements</h2>
        <ul>
            <li>Created an Expense tracker using Django.</li>
            <li>Worked on Smart Blind Stick in IOT.</li>
        </ul>
    </section>

    <section class="contact">
        <h2>Contact</h2>
        <p>Email: himavarshini.ramachandruni@gmail.com</p>
        <p>Phone: +91 9392707725</p>
        <a href="https://github.com/Himavarshini-R" target="_blank">
            My GitHub
    </section>

    <footer>
        <p>&copy; 2024 Himavarshini. All rights reserved.</p>
    </footer>
</body>
</html>
