<!-- profile/templates/profile/projects.html -->
{% extends 'base.html' %}

{% block content %}
<section class="projects">
    <h2 class="animated-title">Projects</h2>
    <ul class="animated-list">
        <li class="project-item">
            <strong class="project-name">Project A</strong> - Created an Expense tracker using Django.
        </li>
        <li class="project-item">
            <strong class="project-name">Project B</strong> - Worked on Smart Blind Stick in IoT.
        </li>
    </ul>
</section>
{% endblock %}
